<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Demo with Dependencies</title>
		<meta charset="UTF-8">

		<!-- This is a special tag for the rendering engine -->
		<!-- {plugin_name:parameter_name} -->
		{dependency:dependency_list}

	</head>
	<body>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">Dependencies</div>
				<div class="panel-body">
					Your site is working with dependencies!<br />
					Bootstrap and jQuery were loaded byt the framework.
				</div>
			</div>
		</div>
	</body>
</html>
